<%= pageTitle 'Administrateurs', 'Liste' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <ul class="list-inline panel-links" style="text-align:right;">
      <li><%= link_to 'Nouveau', new_admin_path, :class => 'btn btn-info', :title => "Ajouter un administrateur" %></li>
    </ul>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-stripped table-condensed">
      <thead>
      <tr>
        <th>Email</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @admins.each do |admin| %>
          <tr>
            <td><%= admin.email %></td>
            <% if admin.id == current_admin.id %>
                <td align="right"><%= ressourceActionLinks nil, admin_path(admin), edit_admin_path(admin) %></td>
            <% else %>
                <td align="right"><%= ressourceActionLinks admin, admin_path(admin), edit_admin_path(admin) %></td>
            <% end %>


          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
