<p id="notice"><%= notice %></p>

<h1>Listing Joueurs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @joueurs.each do |joueur| %>
      <tr>
        <td><%= link_to 'Show', joueur %></td>
        <td><%= link_to 'Edit', edit_joueur_path(joueur) %></td>
        <td><%= link_to 'Destroy', joueur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Joueur', new_joueur_path %>
