<%= pageTitle "Catégorie", "Détails" %>

<p>
  <strong>Nom:</strong>
  <%= @category.nom %>
</p>

<p>
  <strong>Question:</strong>
  <%= @category.question %>
</p>

<%= link_to 'Modifier', edit_category_path(@category), class: 'btn btn-default' %>
<%= link_to 'Retour', categories_path, class: 'btn btn-default' %>
