<div class="text-center">
<%= pageTitle "Classements" %>
</div>

<% @classements.each do |categories| %>
    <span id="<%= categories[0].category.nom %>"></span>

    <div class="container-fluid categorie" >

      <div class="panel panel-default">
        <div class="panel-heading">
          <ul class="list-inline panel-links text-center">
            <li><h2><%= categories[0].category.nom %></h2></li>
          </ul>
        </div>

        <div class="panel-body">
          <div class="col-md-3">
            <table class="table table-hover table-stripped table-condensed">
              <thead>
              <tr>
                <th></th>
                <th>Pseudo</th>
              </tr>
              </thead>

              <tbody>
              <% cpt = 0 %>
              <% while cpt < 15 do %>
                  <tr>
                    <td align="right"><i>#<%= cpt + 1 %></i></td>
                    <td><%= categories[cpt].joueur.pseudo %></td>
                  </tr>
                  <% cpt = cpt + 1 %>
              <% end %>
              </tbody>
            </table>
          </div>

          <div class="col-md-3">
            <table class="table table-hover table-stripped table-condensed">
              <thead>
              <tr>
                <th></th>
                <th>Pseudo</th>
              </tr>
              </thead>

              <tbody>
              <% cpt = 15 %>
              <% while cpt < 30 do %>
                  <tr>
                    <td align="right"><i>#<%= cpt + 1 %></i></td>
                    <td><%= categories[cpt].joueur.pseudo %></td>
                  </tr>
                  <% cpt = cpt + 1 %>
              <% end %>
              </tbody>
            </table>
          </div>

          <div class="col-md-3">
            <table class="table table-hover table-stripped table-condensed">
              <thead>
              <tr>
                <th></th>
                <th>Pseudo</th>
              </tr>
              </thead>

              <tbody>
              <% cpt = 30 %>
              <% while cpt < 45 do %>
                  <tr>
                    <td align="right"><i>#<%= cpt + 1 %></i></td>
                    <td><%= categories[cpt].joueur.pseudo %></td>
                  </tr>
                  <% cpt = cpt + 1 %>
              <% end %>
              </tbody>
            </table>
          </div>

          <div class="col-md-3">
            <table class="table table-hover table-stripped table-condensed">
              <thead>
              <tr>
                <th></th>
                <th>Pseudo</th>
              </tr>
              </thead>

              <tbody>
              <% cpt = 45 %>
              <% while cpt < 60 do %>
                  <tr>
                    <td align="right"><i>#<%= cpt + 1 %></i></td>
                    <td><%= categories[cpt].joueur.pseudo %></td>
                  </tr>
                  <% cpt = cpt + 1 %>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel-footer text-center"><div class="btn btn-default btn-lg">Où suis-je ?</div></div>
      </div>
    </div>

<% end %>