<div class="text-center">
  <%= pageTitle "Classements" %>
</div>

<% nbParCol = 15 %>

<% @classements.each do |nom, classement| %>
    <span id="<%= nom %>"></span>

    <div class="container-fluid categorie" >
      <div class="panel panel-default">
        <div class="panel-heading">
          <ul class="list-inline panel-links text-center">
            <li><h2><%= nom %></h2></li>
          </ul>
        </div>

        <div class="panel-body">

          <%
             nbCol = Integer(classement.count/nbParCol)
             if nbCol < 1
               nbCol = 1
             elsif nbCol > 4
               nbCol = 4
             end

             col = 0
             while col < nbCol do
               cpt = 0
          %>
              <div class="col-sm-<%= 12/nbCol %> col-md-<%= 12/nbCol %> col-lg-<%= 12/nbCol %>">
                <table class="table table-hover table-stripped table-condensed">
                  <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th>Pseudo</th>
                  </tr>
                  </thead>

                  <tbody>

                  <% while cpt < nbParCol and cpt < classement.count do %>
                      <% joueur = classement[cpt + col * nbParCol].joueur_mode.joueur %>

                      <tr>
                        <td><%= is_top_player? joueur, params["nom"] %></td>
                        <td align="right">
                          <i>#<%= cpt + col * nbParCol + 1 %></i>
                        </td>
                        <td>
                          <%= joueur.pseudo %>
                          <%= is_active_player? joueur %>
                        </td>
                      </tr>
                      <% cpt = cpt + 1 %>
                  <% end %>

                  </tbody>
                </table>
              </div>
          <%
             col = col + 1
             end
          %>
        </div>

        <!-- <div class="panel-footer text-center"><div class="btn btn-default btn-lg">Classement entier</div></div> -->
      </div>
    </div>
<% end %>

<script>$(".has-hover").tooltip({placement: "right"});</script>


