<div class="text-center">
  <%= pageTitle "Classements" %>
</div>

<% nbParCol = 15 %>

<% @classements.each do |nom, classement| %>
    <span id="<%= nom %>"></span>

    <div class="container-fluid categorie" >
      <div class="panel panel-default">
        <div class="panel-heading">
          <ul class="list-inline panel-links text-center">
            <li><h2><%= nom %></h2></li>
          </ul>
        </div>

        <div class="panel-body">

          <%
             nbCol = Integer(classement.count/nbParCol)
             if nbCol < 1
               nbCol = 1
             elsif nbCol > 4
               nbCol = 4
             end
             col = 0
             while col < nbCol do
               cpt = 0 + col * nbParCol
          %>
              <div class="col-sm-<%= 12/nbCol %> col-md-<%= 12/nbCol %> col-lg-<%= 12/nbCol %>">
                <table class="table table-hover table-stripped table-condensed">
                  <thead>
                  <tr>
                    <th></th>
                    <th>Pseudo</th>
                  </tr>
                  </thead>

                  <tbody>
                  <% while cpt < nbParCol and cpt < classement.count do %>
                      <tr>
                        <td align="right"><i>#<%= cpt + 1 %></i></td>
                        <td>
                          <% joueur = classement[cpt].joueur_mode.joueur %>
                          <%= joueur.pseudo %>
                          <% if not joueur.is_active %>
                              <span class="has-hover" data-toggle="tooltip" title="Ce joueur est inactif">
                                 <i class="glyphicon glyphicon-flag"></i>
                              </span>
                          <% end %>
                        </td>
                      </tr>
                      <% cpt = cpt + 1 %>
                  <% end %>
                  </tbody>
                </table>
              </div>
          <%
             col = col + 1
             end
          %>
        </div>

        <div class="panel-footer text-center"><div class="btn btn-default btn-lg">Classement entier</div></div>
      </div>
    </div>
<% end %>

<script>$(".has-hover").tooltip({placement: "right"});</script>


