<%= bootstrap_form_for @suggestion, url: create_suggestion_path do |f| %>
    <% if @suggestion.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@suggestion.errors.count, "error") %> prohibited this suggestion from being saved:</h2>

          <ul>
            <% @suggestion.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.text_field :pseudo, label: "Je souhaite voir apparaitre au classement..." %>

    <%= f.collection_check_boxes :mode_ids, Mode.all, :id, :nom, prompt: "Modes de jeu", label: "Modes de jeu" %>

    <%= f.submit "Envoyer" %>

<% end %>
